@page "{handler?}/{Address?}"
@model RazorPagesRecap.Pages.WelcomeModel
@using RazorPagesRecap
@namespace RazorPagesRecap.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<h1>@(this.Model.Text)</h1>
